@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.woff2) format('woff2'),
         url(../fonts/Roboto-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url(../fonts/Roboto-Medium.woff2) format('woff2'),
         url(../fonts/Roboto-Medium.woff) format('woff');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.woff2) format('woff2'),
         url(../fonts/Roboto-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto-Light.woff2) format('woff2'),
         url(../fonts/Roboto-Light.woff) format('woff');
}

@font-face {
    font-family: 'Helvetica-Bold';
    src: url(../fonts/Helvetica-Bold.woff2) format('woff2'),
         url(../fonts/Helvetica-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Helvetica';
    src: url(../fonts/Helvetica.woff2) format('woff2'),
         url(../fonts/Helvetica.woff) format('woff');
}

:root{
    --color-bg-light: #7D3DAE;
    --color-bg-dark: #180731;
    --violet-font-color: #CFC4E7;

    --900: clamp(900px, 72vw, 1728px);
    --500: clamp(500px, 40vw, 960px);
    --60: clamp(60px, 4.8vw, 115.2px);
    --32: clamp(32px, 2.56vw, 61.44px);
    --30: clamp(30px, 2.4vw, 57.6px);
    --25: clamp(25px, 2vw, 48px);
    --24: clamp(24px, 1.92vw, 46.08px);
    --20: clamp(20px, 1.6vw, 38.4px);
    --19: clamp(19px, 1.52vw, 36.48px);
    --16: clamp(16px, 1.28vw, 30.72px);
    --14: clamp(14.5px, 1.16vw, 27.84px);
    --9: clamp(9px, 0.72vw, 17.28px);
    --2: clamp(2px, 0.16vw, 3.84px);
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: 'Roboto-Regular', 'Helvetica', sans-serif;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-size: 16px;
    color: #fff;
    background-color: var(--color-bg-dark);
}

li {
    list-style: none;
}

/* Header */

.header-primary {
    background-image: url(../images/bg-image.png);
    background-position: top;
    background-size: contain;
    background-repeat: repeat-x;
}

.links-group {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: calc(var(--500) / 5);
    position: relative;
    padding: var(--16);
}

.ul-nav-primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--24);
    margin-inline: auto;
}

.ul-nav a img {
    width: var(--32);
    height: var(--32);
}

.ul-nav a:hover,
.ul-nav a:focus {
    opacity: 0.8;
}

/* Burger Menu */

.burger-menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg-light);
    width: var(--60);
    height: var(--60);
    border-radius: 50%;
    position: fixed;
    right: var(--20);
    top: var(--30);
    z-index: 10;
    cursor: pointer;
}

.burger-menu {
    width: var(--25);
    height: var(--20);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out;
}

.line {
    width: 100%;
    height: var(--2);
    background-color: #fff;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.burger-menu.open .line:nth-child(1) {
    transform: translateY(var(--9)) rotate(45deg);
}

.burger-menu.open .line:nth-child(2) {
    opacity: 0;
}

.burger-menu.open .line:nth-child(3) {
    transform: translateY(calc(var(--9) * -1)) rotate(-45deg);
}

.title-primary {
    padding: 1em;
    background-color: var(--color-bg-light);
}

.title-primary h1,
.subheader-primary h1 {
    text-align: center;
    font-size: var(--24);
    font-family: 'Roboto-Bold';
}

.subheader-primary {
    padding: 1em;
}

/* Popup navigation */

.animated-nav-wrapper {
    background-color: var(--color-bg-light);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: none;
}

.animated-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.animated-nav-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.animated-nav-ul li a {
    color: inherit;
    text-decoration: none;
    font-size: var(--24);
}

.animated-nav-ul li a:hover,
.animated-nav-ul li a:focus {
    text-decoration: underline;
    text-underline-offset: 0.3em;
}

/* Main sectioin */

#trip-list {
    max-width: var(--900);
    margin-inline: auto;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-inline: 1em;
}

.trip-content {
    border-radius: inherit;
    background-color: var(--color-bg-light);
}

.trip-text-content {
    padding: 1em;
}

.trip-content img {
    max-height: var(--500);
    width: 100%;
    object-fit: cover;
    border-radius: 0.5em 0.5em 0 0;
}

.trip-text-content h2 {
    font-family: 'Roboto-Regular';
    margin-bottom: 0.5em;
    font-weight: 400;
    font-size: var(--19);
    text-transform: uppercase;
}

.trip-text-content p {
    font-size: var(--14);
    line-height: 1.5;
    color: var(--violet-font-color);
}

.trip-info-link {
    text-decoration: none;
    color: inherit;
    font-family: 'Roboto-Medium';
    border-top: 1px solid hsla(259, 42%, 84%, 0.3);
    margin-inline: auto;
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: var(--16);
    text-transform: uppercase;
    padding-block: 0.8em;
    cursor: pointer;
}

@media screen and (max-width: 850px) {
    .header-primary {
        background-size: cover;
    }
}